html, body {
    color: white;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%

}

#main {
    height: 100%;
    background-color: rgb(6, 13, 19);
    font-family: "roboto";
    color: white;
}

#root {
    height: calc(100% - 101px);
    position: relative;
}
