$light: #6c757d;


@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/utilities";


@import "../../../node_modules/bootstrap/scss/bootstrap.scss";


a:visited {
    color: inherit;
}

.trigger:hover {
    background-color: rgba($gray-200, 0.25);
    pointer-events: auto;
    cursor: default;
};

// ------------- Header.js -------------

.navbar {
    height: 100px !important;
    padding-top: 0;
    padding-bottom: 0;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    padding: .25rem 0;
}

// ------------- Watchlist.js -------------

.watchlistContainer {
    width: 275px !important;
}

.watchlistItem {
    padding-top: .1rem !important;
    padding-bottom: .1rem !important;
}

.activeStock {
    border: $primary 1px solid !important;
    background-color: rgba($gray-200, 0.25);
}

.remove-wl-button {
    display: none;
}

.remove-wl-button:hover {
    color: $primary
}

.watchlistItem:hover .remove-wl-button {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.activeStock .remove-wl-button {
    display: flex;
    justify-content: center;
    align-items: center;  
}

// ------------- News.js -------------

.newsContainer {
    width: 275px !important;
    overflow: auto;
    border: $light 2px solid;
    height: 50%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.newsTitle {
    background-color: rgb(6, 13, 19);
    position: fixed;
    padding-top: .75rem;
    padding-bottom: .75rem;
    width: calc(275px - 3rem - 4px);
}

.newsBody {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.infoBlock {
    width: 275px !important;
    height: calc(100% - 100px);
}

// ------------- Search.js -------------

.searchInput {
    width: 100%;
    outline: none;
    border: 0;
    font-size: 20px;
}

.modal-body {
    padding: 1rem 0;
}

.search-modal-body {
    max-height: 800px;
    max-width: 500px;
    color: black;
    overflow: auto;
}

.technical-modal-body {
    max-width: 500px;
    max-height: 500px;
    color: black;
    overflow: auto;
}

.searchItem {
    border-bottom: 1px $light solid;
    padding: .5rem 1rem;
}

.searchItem:hover {
    background-color: rgba($gray-600, 0.25)
}

// ------------- Chart.js -------------

.chartContainer {
    height: calc(100% - 48px)
}

.chart-legend {
    z-index: 10
}

.widgets {
    height: 48px;
    display: flex;
}

.widgetItem {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding-left: 12.5px;
    padding-right: 12.5px;
    border-right: $light 2px solid;
}

.widgetItem:hover {
    background-color: rgba($gray-200, 0.25);
    pointer-events: auto;
    cursor: default;
}

.technicalSelection {
    padding: .25rem 1rem;
}

.technicalSelection:hover {
    background-color: rgba($gray-600, 0.25);
}

.favorite {
    fill: $success !important;
}


.indicator {
    display: flex;
    width: fit-content;
    padding: .15rem .5rem;
    border-radius: .25rem !important;
}

.indicator:hover {
    background-color: white;
    color: black;
}

.indicatorClose {
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0 .25rem;
    margin-left: .25rem;
}

.indicator:hover .indicatorClose {
    display: flex;
}

.indicatorClose:hover {
    background-color: $light;
    border-radius: .25rem !important;
}

.positive {
    color: rgba(38, 166, 154, 0.28);
}

.negative {
    color: rgba(239, 83, 80, 0.28);
}
