// $primary: rgb(21, 44, 55);
// $secondary: rgb(2, 24, 38);
$light: #6c757d;


@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/utilities";


// $custom-theme-colors: (
//     "primary": rgb(21, 44, 55),
//     "secondary": rgb(2, 24, 38),
// );

// $theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";


.watchlist {
    width: 275px
}

.trigger:hover {
    background-color: rgba($gray-200, 0.25);
    pointer-events: auto;
    cursor: default;
};

.activeStock {
    border: $primary 2px solid !important;
    background-color: rgba($gray-200, 0.25);
}

.chart-legend {
    z-index: 10
}

.searchInput {
    width: 100%;
    outline: none;
    border: 0;
    font-size: 20px;
}

.modal-body {
    padding: 1rem 0;
}

.search-modal-body {
    max-height: 800px;
    max-width: 500px;
    color: black;
    overflow: auto;
}

.technical-modal-body {
    max-width: 500px;
    max-height: 500px;
    color: black;
    overflow: auto;
}

.searchItem {
    border-bottom: 1px $light solid;
    padding: .5rem 1rem;
}

.searchItem:hover {
    background-color: rgba($gray-600, 0.25)
}

.widgetItem {
    display: flex;
    text-align: center;
    padding: .5rem 1rem;
    border-bottom: 1px $light solid;
    font-weight: bold;
}

.widgetItem:hover {
    background-color: rgba($gray-200, 0.25);
    pointer-events: auto;
    cursor: default;
}

.technicalSelection {
    padding: .25rem 1rem;
}

.technicalSelection:hover {
    background-color: rgba($gray-600, 0.25);
}

.favorite {
    fill: $success !important;
}

.indicator {
    display: flex;
    width: fit-content;
    padding: .15rem .5rem;
    border-radius: .25rem !important;
}

.indicator:hover {
    background-color: white;
    color: black;
}

.indicatorClose {
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0 .25rem;
    margin-left: .25rem;
}

.indicator:hover .indicatorClose {
    display: flex;
}

.indicatorClose:hover {
    background-color: $light;
    border-radius: .25rem !important;
}